html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%; }
  
    #basketLink {
      margin-top: 30px;
    }
    #baseLink {
      margin-top: 150px;
    }
  #info {
    margin-left: 50px;
  }
    a.button {
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
      width: 180px;
      text-decoration: none;
      color: initial;
      background-color: blue;
  }
  
  .navbar {
    overflow: hidden;
    /* background-color: rgb(193, 198, 202); */
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 100px;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  a {
    color: blue;
    
    font-weight: bolder;
    text-shadow:  0 1px 0 #ccc,
      0 2px 0 #c9c9c9,
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9,
      0 5px 0 #aaa,
      0 6px 1px rgba(0,0,0,.1),
      0 0 5px rgba(0,0,0,.1),
      0 1px 3px rgba(0,0,0,.3),
      0 3px 5px rgba(0,0,0,.2),
      0 5px 10px rgba(0,0,0,.25),
      0 10px 10px rgba(0,0,0,.2),
      0 20px 20px rgba(0,0,0,.15);
  }
    header, p {      
      text-align: center;  
      color: black;
      font-size: 50px;
      font-weight: bolder;
      font-style: italic;
      font-family: 'Courier New', Courier, monospace;
      text-shadow:  0 1px 0 #ccc,
      0 2px 0 #c9c9c9,
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9,
      0 5px 0 #aaa,
      0 6px 1px rgba(0,0,0,.1),
      0 0 5px rgba(0,0,0,.1),
      0 1px 3px rgba(0,0,0,.3),
      0 3px 5px rgba(0,0,0,.2),
      0 5px 10px rgba(0,0,0,.25),
      0 10px 10px rgba(0,0,0,.2),
      0 20px 20px rgba(0,0,0,.15);
    }
  
    .footer{
     color: blue;
      text-align: center;
      font-weight: bolder;
      margin-top: 40px;
      
    }
  
    .container {
     
      height: 600px;
      /* float: right; */
      width: 400px;
      /* background-color: whitesmoke; */
      text-align: center;
      padding: 10px;
      /* margin-right: 200px; */
      margin-top: 80px;
    }
  

  .info-player {
    height: 600px;
    width: 400px;
   
    text-align: center;
    padding: 10px;
   
    margin-top: 80px;   
  }

  #player {
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    margin-top: 150px;
    color: red;
    text-shadow:  0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  }
  #team {
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-shadow:  0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  }
  #position {
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-shadow:  0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  }
    #input {
      width: 170px;
    }
    
    #searchBar {
    width: 300px;
    display: block;
    border: solid royalblue;
    }
  
    #search-section,
    #button-section {
    float: right;
    margin-top: 20px;
      position: absolute;
      right: 260px;

     
    }
  
  
  body {
    background-color: gray;
  }
  
  h1 {
    font-style: italic; 
  }

    h4 {
      font-weight: bolder;
      text-shadow:  0 1px 0 #ccc,
      0 2px 0 #c9c9c9,
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9,
      0 5px 0 #aaa,
      0 6px 1px rgba(0,0,0,.1),
      0 0 5px rgba(0,0,0,.1),
      0 1px 3px rgba(0,0,0,.3),
      0 3px 5px rgba(0,0,0,.2),
      0 5px 10px rgba(0,0,0,.25),
      0 10px 10px rgba(0,0,0,.2),
      0 20px 20px rgba(0,0,0,.15);
    }

    h3 {
      font-weight: bolder;
      text-shadow:  0 1px 0 #ccc,
      0 2px 0 #c9c9c9,
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9,
      0 5px 0 #aaa,
      0 6px 1px rgba(0,0,0,.1),
      0 0 5px rgba(0,0,0,.1),
      0 1px 3px rgba(0,0,0,.3),
      0 3px 5px rgba(0,0,0,.2),
      0 5px 10px rgba(0,0,0,.25),
      0 10px 10px rgba(0,0,0,.2),
      0 20px 20px rgba(0,0,0,.15);
    }

    @media screen and (max-width: 968px) {
     
    
      .container, .info-player {
        /* Box-model */
        width: 100%;
        height: 400px;
        padding: 20px;
      }
    
     .navbar {
        width: 100%;
      }
    
      #sidebar {
        margin-top: 40px;
      }
    }
    
    /* Additional Screen Sizes */
    
    /* Width at 320px and below */
    @media screen and (max-width: 320px) {
   
    
      .container, .info-player {
        /* Box-model */
        width: 100%;
        height: 300px;
        padding: 20px;
      }
    
     .navbar{
        width: 100%;
      }
    
      #sidebar {
        margin-top: 40px;
      }
    }
    
    /* Width at 168px and below */
    @media screen and (max-width: 168px) {
  
    
      .container, .info-player {
        /* Box-model */
        width: 100%;
        height: 300px;
        padding: 20px;
      }
    
    .navbar {
        width: 100%;
      }
    
      #sidebar {
        margin-top: 40px;
      }
    }

    .image {
      height: 150px;
    }